body {
  margin: 0;
  padding: 0;
  background: url("assets/background.jpg") no-repeat bottom;
  background-size: 100% 100%;
}

canvas {
  width: 100%;
  height: 100vh;
  background: url("assets/goat-tree.png") no-repeat center;
  background-size: contain;
}

/* ***** GOATS IN A TREE HEADER TEXT ***** */
.header {
  font-family: "Baloo Thambi", sans;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 7px;
  left: 35px;
  width: 750px;
  z-index: 1000;
  transition: top 2s, left 2s, font-size 2s;
}

/* ***** GOATS IN A TREE HEADER TEXT ANIMATION ***** */
h1 span:nth-child(2) {animation-delay: .2s}
h1 span:nth-child(3) {animation-delay: .3s}
h1 span:nth-child(4) {animation-delay: .4s}
h1 span:nth-child(5) {animation-delay: .5s}
h1 span:nth-child(6) {animation-delay: .6s}
h1 span:nth-child(7) {animation-delay: .7s}
h1 span:nth-child(8) {animation-delay: .8s}
h1 span:nth-child(9) {animation-delay: .9s}
h1 span:nth-child(10) {animation-delay: 1s}
h1 span:nth-child(11) {animation-delay: 1.2s}
h1 span:nth-child(12) {animation-delay: 1.4s}
h1 span:nth-child(13) {animation-delay: 1.6s}

.lilgoat {
  height: 27px;
  width: 27px;
  margin-left: 7px;
  margin-right: 7px;
}

h1 span {
  position: relative;
  top: 5px;
  animation: bounce .3s ease infinite alternate;
}

#lilgoatspan {
  position: relative;
  top: 5px;
  animation: bounce .1s ease infinite alternate;
}

/* ***** BIG RED BUTTON ***** */
.bigRedButton {
  background-color: red;
  color: white;
  font-family: "Baloo Thambi", sans;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 5px 2px 5px grey;
  border: none;
  position: absolute;
  top: 15%;
  left: 2%;
  font-size: 20px;
  line-height: 20px;

  -webkit-animation: fadein 15s ease-in; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 15s ease-in; /* Firefox < 16 */
    -ms-animation: fadein 15s ease-in; /* Internet Explorer */
     -o-animation: fadein 15s ease-in; /* Opera < 12.1 */
        animation: fadein 15s ease-in;
}

.bigRedButton:active {
    outline: none;
    border: none;
}

.bigRedButton:focus {
    outline: none;
    border: none;
}

/* ***** BIG RED BUTTON KEYFRAMES ***** */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* ***** GOAT SPLOAD AMAGE ***** */
#splode {
  height: 200px;
  width: 200px;
}

.disabledButton {
  background-color: darkgrey;
}

@keyframes bounce {
  100% {
    top: -10px;
    text-shadow: - 5px 0 grey;
  }
}

.topLinkContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#shop{
  color: white;
  font-family: "Baloo Thambi", sans;
  font-size: 18px;
  background: none;
  border: none;
}

#shop:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* ***** SCORE AND LIVES CONTAINER ***** */
.infoContainer {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 15px;
  padding-top: 5px;
  justify-content: flex-end;
}

/* ***** SCORE AND POINTS ***** */
.scoreAndPointsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.scoreContainer {
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px;
}

.score {
  font-family: 'Notable', sans-serif;
  color: white;
  font-size: 14px;
  text-align: center;
}

.points {
  font-size: 24px;
}

/* ***** LIVES ***** */
.livesContainer {
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.lives {
  width: 60px;
  height: 60px;
}


#startScreenContainer {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

#startDiv{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(103, 196, 234, .9);
  z-index: 4;
}

/* ***** GOATS IN A TREE HEADER FOR START SCREEN ***** */
.startHeader {
  position: absolute;
  top: 5%;
  left: 34%;
  font-size: 20px;
  transition: top 2s, left 2s, font-size 2s;
}

/* ***** START SCREEN ***** */
.startTextContainer {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 700px;
  height: 250px;
  position: absolute;
  top: 20%;
  left: 30.5%;
  line-height: 40px;
  box-sizing: border-box;
}

.startText, .chooseAGoatContainer {
  color: white;
  font-family: 'Hind', sans-serif;
  font-size: 22px;
  height: 15px;
  margin: 0;
}

.arrowkeys {
  margin-left: 10px;
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

.withArrowKeys {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.priorToLast{
  margin-bottom: 0;
}

.startTextEmphatic {
  margin-top: 0;
  font-size: 28px;
}

.redButtonText {
  color: #f4425f;
}

.scoreSummaryHidden{
  visibility: hidden;
}

.scoreSummary {
  position: absolute;
  top: 15%;
  left: 25%;
}

.wideScore {
  width: 120px;
  font-family: "Notable", sans-serif;
}

.chooseAGoatContainer {
  margin-top: 3%
}

/* ***** START SCREEN GOAT SELECTION ***** */
#goats {
  display: flex;
}

#goatSelectContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#goatSelection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 20%;
  left: 38%;
}

#leftSelect, #rightSelect {
  height: 5vh;
}

.goatImg {
  width: 100px;
  height: 100px;
}

.goatInfo {
  width: 100px;
  height: 100px;
}

/* ***** START SCREEN START BUTTON ***** */
#startButton {
  z-index: 2;
  position: absolute; 
  bottom: 8%;
  left: 30.5%;
  height: 65px;
  width: 40%;
  margin-top: 60px;
  border-radius: 5px;
  font-size: 32px;
  background: white;
  color: rgb(103, 196, 234);
  border: none;
  font-family: "Baloo Thambi", sans;
}