body {
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  background: url("assets/background.jpg") no-repeat bottom;
  background-size: 100% 100%;
  background-color: skyblue;
}

#bigRedButton {
  font-family: "Baloo Thambi", cursive;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  box-shadow: 5px 2px 5px grey;
  border: none;
  position: absolute;
  top: 15%;
  left: 2%;
}



.header {
  font-family: "Baloo Thambi", cursive;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 7px;
  left: 35px;
  width: 750px;
  z-index: 1000;
  transition: top 2s, left 2s, font-size 2s;
}

.startHeader {
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 20px;
/*  -webkit-transform: translate(-30%, -30%);
  transform: translate(-30%, -30%);*/
  transition: top 2s, left 2s, font-size 2s;
}

.lilgoat {
  height: 27px;
  width: 27px;
  margin-left: 7px;
  margin-right: 7px;
}

h1 span {
  position: relative;
  top: 5px;
  animation: bounce .3s ease infinite alternate;
}

#lilgoatspan {
  position: relative;
  top: 5px;
  animation: bounce .1s ease infinite alternate;
}

h1 span:nth-child(2) {animation-delay: .2s}
h1 span:nth-child(3) {animation-delay: .3s}
h1 span:nth-child(4) {animation-delay: .4s}
h1 span:nth-child(5) {animation-delay: .5s}
h1 span:nth-child(6) {animation-delay: .6s}
h1 span:nth-child(7) {animation-delay: .7s}
h1 span:nth-child(8) {animation-delay: .8s}
h1 span:nth-child(9) {animation-delay: .9s}
h1 span:nth-child(10) {animation-delay: 1s}
h1 span:nth-child(11) {animation-delay: 1.2s}
h1 span:nth-child(12) {animation-delay: 1.4s}
h1 span:nth-child(13) {animation-delay: 1.6s}


canvas {
  /* background-color: skyblue;
  background-image: url("assets/goat-tree.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  width: 100%;
  height: 100vh;
  background: url("assets/goat-tree.png") no-repeat center;
  background-size: contain;
}

#splode {
  height: 200px;
  width: 200px;
}

#bigRedButton {
  background-color: red;
  color: white;
  animation: button-top-slide-in 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 5s;
  /* animation: pulsing-button 1.5s ease-in-out infinite both; */
}

@keyframes bounce {
  100% {
    top: -10px;
    text-shadow: - 5px 0 grey;
  }
}

.topLinkContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#shop{
  color: white;
  font-family: "Baloo Thambi", cursive;
  font-size: 18px;
  background: none;
  border: none;
}

#shop:hover{
  text-decoration: underline;
  cursor: pointer;
}

.infoContainer {
  position: fixed;
  top: 0;
  right: 0;
  /*background-color: blue;*/
  /*width: 310px;*/
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 15px;
  padding-top: 5px;
  justify-content: flex-end;
}

.topLinkContainer{
  /*background-color: red;*/
}

.scoreAndPointsContainer {
  /*background-color: green;*/
  display: flex;
  flex-direction: row;
  /*box-sizing: border-box;*/
  justify-content: flex-end;
}

.livesContainer {
  /*background-color: yellow;*/
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.scoreContainer {
  /*background-color: orange;*/
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px;
}

/*@font-face {
  font-family: Blocky;
  src: url(BLOCKHEAD.ttf) format(truetype);
}*/

.score {
  /*font-family: Blocky;*/
  font-family: 'Notable', sans-serif;
  color: white;
  font-size: 14px;
  text-align: center;
}

.points {
  font-size: 24px;
}

.lives {
  width: 60px;
  height: 60px;
}

#startDiv{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(103, 196, 234, .9);
  z-index: 4;
}

.startText {
  color: white;
  /*font-family: Arial;*/
  font-family: 'Hind', sans-serif;
  font-size: 22px;
  height: 50px;
}

.startTextContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 25%;
/*  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  line-height: 50px;
  box-sizing: border-box;
}

.arrowkeys {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.withArrowKeys {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.priorToLast{
  margin-bottom: 0;
}

.startTextEmphatic {
  margin-top: 0;
  font-size: 28px;
}

#startButton {
  z-index: 2;
  height: 70px;
  width: 80%;
  /*margin-left: 10%;*/
  margin-top: 25px;
  border-radius: 5px;
  font-size: 32px;
  background: white;
  color: rgb(103, 196, 234);
  border: none;
  font-family: "Baloo Thambi", cursive;
}

.redButtonText {
  color: #f4425f;
}

@keyframes button-top-slide-in {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes pulsing-button {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}